name: Docker Publish
on:
  push:
    branches: [ "main" ]
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Login to GHCR
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} --password-stdin
      - name: Build and Push
        run: |
          docker build -t ghcr.io/${{ secrets.GHCR_USERNAME }}/productapi:latest .
          docker push ghcr.io/${{ secrets.GHCR_USERNAME }}/productapi:latest
